* {
    font-family: "Raleway", "Courier New", Courier, monospace;
}

h1 {
    color: white;
}

nav {
    background-color: gray;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #ff6c00;
}

#online-booking {
    width: 160px;
    height: 40px;
    border: 1px solid #ff6c00;
    background-color: transparent;
    color: #ffffff;
}

#online-booking:hover {
    border-width: 2px;
}

#about {
    background-color: #191c26;
}

.company-info {
    width: 500px;
    height: 500px;
    background-image: url(images/contact-bg.png);
    color: white;
    padding: 20px;
}

.numbers > .box {
    background-color: #f7f7f7;
    width: 170px;
    height: 133px;
    margin: 0 auto;
    text-align: center;
}

.numbers > .box > b.number {
    color: #303030;
    font-weight: bold;
    letter-spacing: 5%;
    font-family: "Open Sans";
    font-size: 46px;
}

.numbers > .box > div {
    color: #303030;
    font-weight: 600;
    font-size: 11px;
    margin: 30px;
    margin: 0 auto;
    margin: 0 10px 20px 30px;

    margin-left: 30px;
    margin-right: 10px;
    margin-top: 0;
    margin-bottom: 20px;
}

.numbers > .box > div.plus-sign {
    font-size: 16px;
    color: #ff6c00;
    margin-top: -50px;
    margin-right: -50px;
}
